@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Department;


<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.DepartmentName): @Html.DisplayFor(model => model.DepartmentName)</h3>

@if(@Model.Courses.Count == 0)
{
  <p>This department does not have any courses.</p>
}
else
{
  <h4>Courses in this department:</h4>
}

@if(@Model.Students.Count == 0)
{
  <p>This department does not have any Students</p>
}
else
{
  <h4>Students in this department:</h4>
}

<ul>
@foreach(Course course in Model.Courses)
{
  <li>Course : @course.Name</li>
}
</ul>
<ul>
@foreach(Student student in Model.Students)
{
  <li>Student : @student.StudentName</li>
}
</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Department", "Edit", new { id = Model.DepartmentId })</p>
<p>@Html.ActionLink("Delete Department", "Delete", new { id = Model.DepartmentId })</p>

